<section class="services" id="services" style="background-image: url('assets/images/product0.avif');">
  <div class="container">
    <div class="services-header">
      <h2>Our Financial Services</h2>
      <p>Comprehensive solutions tailored to your financial needs</p>
    </div>

    <div class="services-grid">
      <div class="service-card">
        <img src="assets/images/Payment NGRTGS1.jpg" alt="Service Image">
        <div class="content">
          <h3>Payment Middleware NGRTGS</h3>
          <p>Acutec RFMS is a robust Payment Middleware RFMS-NGRTGS intefacing multiple payment gateways(NEFT,RTGS) with
            different back-office systems.</p>
          <a href="#contact" class="btn btn-outline">Learn More</a>
        </div>
        </div>

        <div class="service-card">
          <img src="assets/images/Cryptotool2.jpg" alt="Service Image">
          <div class="content">
            <h3>Crypto Tool Kits</h3>
            <p>Crypto tool kit removes manual intervention by digitally signing transactions/Files,message formats
              supported - NEFT,NGRTGS,NPCI files,LC-BG and supports NGRTGS on cloud model.</p>
            <a href="#contact" class="btn btn-outline">Learn More</a>
          </div>
          </div>

          <div class="service-card">
            <img src="assets/images/bulkuploadautomation.jpg" alt="Service Image">
            <div class="content">
              <h3>Bulk Upload Automation</h3>
              <p>Acutec Bulk Upload Automation Tool takes predefined input from File Uploaded and generate NEFT /RTGS
                transactions on the basis of the records present in the file as per the NEFT/RTGS message standard,
                routes all the transactions on STP with automatic Debit entries in respective Back Office System.</p>
              <a href="#contact" class="btn btn-outline">Learn More</a>
            </div>
            </div>

            <div class="service-card">
              <img src="assets/images/anti-money-launderingimage1.jpg" alt="Service Image">
              <div class="content">
                <h3>Anti-Money Laundering Solution</h3>
                <p>Acutec E-watch retrieves transaction data, analyze it, capture suspicious transactions as per the
                  regulatory threat list and pre defined rules and checks enabled as per bank’s precise requirements and
                  generate reports as per regulatory authority specifications.</p>
                <a href="#contact" class="btn btn-outline">Learn More</a>
              </div>
              </div>
            </div>
          </div>
</section>